@using StokTakip.Models.EntityFramework
@model List<Kategoriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Kategori Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>

    </tr>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.KategoriId</td>
            <td>@item.KategoriAd</td>
            <td>
                <a href="@Url.Action("Delete", "Kategoriler", new {categoryId= @item.KategoriId})" class=" btn btn-danger">Sil</a>
                <a href="@Url.Action("Update", "Kategoriler", new {categoryId= @item.KategoriId})" class=" btn btn-success">Güncelle</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a href="/Kategoriler/Create" class="btn btn-primary">Yeni Kategori Ekle</a>

